.btn-post {
  color: $navbar-color;
  font-size: 18px;
}

.btn-contacts {
  color: $darkgrey;
  font-size: 20px;
  border: hidden;
}

.edit-button .del-button .btn-contact-posts {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px solid;
  color: $navbrand2;
}




