.nav-item2 {
  background-color: $white;
  border-radius: 0px 0px 10px 10px;
}

.navbar-brand1 {
  font-family: Arial, Helvetica, sans-serif;
  color: $navbrand;
  font-size: 25px;
}

.navbar-brand2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: $navbrand2;
  font-size: 30px;
}

.navbar-color {
  background-color: $navbar-color;
  border-radius: 10px;
}
