/*custom colors*/

$background-color: #e8e5e5;
$white: #fff;
$navbar-color: #f7d2d2;
$darkgrey: #3b3636;
$black: #000000;
$navbrand: #707070;
$navbrand2: #f59f9f;
$textarea: #eeeeee;

/*custom width */

$w-300px: 300px !important;
$w-80px: 80px !important;
$w-120px: 120px !important;
$maw-250px: 250px;
$miw-300px: 300px;
$miw-350px: 350px;

/* custom height*/
$maw-250px: 250px;
$mah-200px: 200px;
$mah-250px: 250px;
$mih-120px: 120px;

/* margins*/
$marg-0: 0px;
$marg-8: 8px;

/*border radius*/

$br-30px: 30px;
$br-50: 50%;
